#title-section {
    height: 500px;
}

.title-background {}

.title-background img {
    position: absolute;
    width: 100%;
    height: 500px;
    object-fit: cover;
    filter: brightness(50%);
    z-index: -1;
}

.title-container {
    padding: 3% 10%;
}

.navbar {
    padding: 0%;
}

.big-heading h1 {
    color: #fff;
    font-weight: 900;
    font-size: 3em;
    margin-top: 2em;
}

.btn-join {
    margin-top: 3em;
}

#description-section {}

.description-container {
    padding: 3% 10%;
}

#ongoing-section {}

.ongoing-container {
    padding: 3% 10%;
}

#footer-section {
    text-align: center;
}

.event-group {
    margin-top: 3em;
    padding: 0% 0% 0% 0%;
}

@media (max-width: 990px) {
    .big-heading h1 {
        font-size: 2.5em;
    }
    .title-background img {
        height: 500px;
        object-fit: cover;
    }
    .btn-join {
        margin-top: 1em;
    }
}

@media (max-width: 700px) {
    .big-heading h1 {
        margin-top: 1em;
        font-size: 2em;
        text-align: center;
    }
    #title-section {
        height: 400px;
    }
    .title-background img {
        height: 400px;
        object-fit: cover;
    }
    .title-container {
        text-align: center;
    }
    .btn-join {
        margin-top: 0em;
    }
}