#title-section-dark {
  height: fit-content;
  color: #fff;
  background-color: #222831;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/img/banner.jpg");
}

#title-section-light {
  height: fit-content;
  color: #000;
  background-color: #eeeeee;
  background-size: cover;
  background-image: linear-gradient(
    rgba(190, 190, 190, 0.5),
    rgba(190, 190, 190, 0.5)
  );
}

.title-container {
  padding: 3% 10%;
}

.navbar {
  padding: 0%;
}

.navbar-brand {
  font-weight: 900;
  font-family: "Righteous", cursive;
}

.headings-container {
  margin-top: 2em;
}

.big-heading {
  font-weight: 900;
  font-size: 3em;
}

.big-heading-column-1 {
  padding: 0%;
}

.big-heading-column-2 {
  margin-left: auto;
  padding: 0%;
}

.img-mask {
  max-width: 100%;
  object-fit: cover;
}

.login-form {
}

.btn-fill-up-form {
  margin-top: 2em;
  margin-bottom: 2em;
}

#description-section {
}

.description-container {
  padding: 3% 10%;
}

#ongoing-section {
}

.ongoing-container {
  padding: 3% 10%;
}

#footer-section {
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
}

.event-group {
  margin-top: 3em;
  padding: 0% 0% 0% 0%;
}

.form-container {
  padding: 3% 10%;
}

@media (max-width: 1199px) {
  .big-heading {
    font-size: 2.5em;
  }

  .big-heading-column-2 {
    margin-left: auto;
  }
}

@media (max-width: 768px) {
  .big-heading {
    margin-top: 1em;
    font-size: 2em;
  }
  .title-container {
    text-align: center;
  }
}
